@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pleasure Craft Service Management System</h1>
    <p>An application to track services provided to clients.</p>
</div>
