@page
@model PcSMS.DeleteModel
@{
	ViewData["Title"] = "Delete";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="IdentityUser.Id" />
			<div class="form-group">
				<label asp-for="IdentityUser.Email" class="control-label"></label>
				<input disabled asp-for="IdentityUser.Email" class="form-control" />
				<span asp-validation-for="IdentityUser.Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Delete" class="btn btn-danger" />
			</div>
		</form>
	</div>
</div>
<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

