@page
@model PcSMS.Pages.Vessels.DeleteModel
@{
	ViewData["Title"] = "Delete";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">Delete Vessel</h2>
<br />
<form method="post">
	<div class=" border  backgroundWhite">
		<input type="hidden" asp-for="Vessel.Id" />
		<input type="hidden" asp-for="Vessel.UserId" />
		<div class="form-group row ">
			<div class="col-2">
				<label asp-for="Vessel.IN" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="Vessel.IN" disabled class="form-control" />
			</div>
		</div>
		
		<div class="form-group row ">
			<div class="col-2">
				<label asp-for="Vessel.Model" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="Vessel.Model" disabled class="form-control" />
			</div>
		</div>
		
		<div class="form-group row ">
			<div class="col-2">
				<label asp-for="Vessel.Year" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="Vessel.Year" disabled class="form-control" />
			</div>
		</div>
		
		<div class="form-group row ">
			<div class="col-2">
				<label asp-for="Vessel.Color" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="Vessel.Color" disabled class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<div class="col-5 offset-2">
				<div class="row">
					<div class="col-6">
						<input type="submit" class="btn btn-danger form-control" value="Delete" />
					</div>
					<div class="col-6">
						<a asp-page="Index" asp-route-userId="@Model.Vessel.UserId" class="btn btn-success form-control">Back to List</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</form>

